<nav class="navbar navbar-expand-sm navbar-light bg-light mb-5">
  <a class="navbar-brand" [routerLink]="['']">Recipe Book</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- Navigation Menu -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/recipes']" routerLinkActive="active">Recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/shopping-list']" routerLinkActive="active">Shopping List</a>
      </li>
    </ul>
    <!-- Manage Menu -->
    <ul class="nav navbar-nav ml-auto">
      <li class="dropdown" appDropdown>
        <a class="nav-link dropdown-toggle">
          Manage Data
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="onSaveData()">Save Data</a>
          <a class="dropdown-item" (click)="onLoadData()">Load Data</a>
        </div>
      </li>
    </ul>
  </div>

</nav>
